<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.olympic.game.GameMapper">
	
	<!-- 전체 리스트  -->
	<select id="listGame" parameterType="kr.co.olympic.game.GameVO"
		resultType="kr.co.olympic.game.GameVO">
        SELECT *
		FROM game
		ORDER BY game_id;
    </select>
    <!-- #경기관련 -->
	<sql id="searchDateSport">
		<where>
	        <if test="sport_name == 'all'">
	            korea_date = #{search_date}
	        </if>
	        <if test="sport_name != 'all'">
	            korea_date = #{search_date} and sport_name = #{search_sport}
	        </if>	        
	    </where>
	</sql>
    <!-- 검색 리스트  -->
	<select id="searchGame" parameterType="map"
		resultType="kr.co.olympic.game.GameVO">
		SELECT a.*
			, (SELECT count(*) FROM favorite_game WHERE member_no=#{member_no} and game_id = a.game_id) as favorite
			, (SELECT sport_pictogram FROM sport WHERE sport_code = a.sport_code) sport_pictogram
		FROM game as a
		<!-- 
		<include refid="searchDateSport"></include>
		 -->
		ORDER BY a.game_id; 
    </select>
    
    <!-- 경기 조회 -->
	<select id="detailGame" parameterType="map" 
		resultType="kr.co.olympic.game.GameVO">
        SELECT *
		FROM game
		WHERE game_id = #{game.game_id}
    </select>
	<!-- 경기 날짜별 리스트-->
	<select id="listByDate" parameterType="kr.co.olympic.game.GameVO">
        SELECT *
		FROM game
        WHERE korea_date = #{korea_date}
    </select>
	<!-- 경기 종목별 리스트-->
	<select id="listByGame" parameterType="kr.co.olympic.game.GameVO">
        SELECT *
		FROM game
        WHERE sport_name = #{sport_name}
    </select>
	<!-- 경기 생성 -->
	<insert id="createGame" parameterType="kr.co.olympic.game.GameVO">
        INSERT INTO game (
            sport_name, country1_name, country2_name, tournament
            , country, country1_flag, country2_flag, stadium_name
            , paris_date, paris_time, korea_time, korea_date
            , sport_code, stadium_no
        ) VALUES (
            #{sport_name}, #{country1_name}, #{country2_name}, #{tournament}
            , #{country}, #{country1_flag}, #{country2_flag}, #{stadium_name}
            , #{paris_date}, #{paris_time}, #{korea_time}, #{korea_date}
            , #{sport_code}, #{stadium_no}
        )
        <selectKey keyProperty="game_id" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
	<!-- 경기 수정 -->
	<update id="updateGame" parameterType="kr.co.olympic.game.GameVO">
        UPDATE game SET
            sport_name = #{sport_name},
            country1_name = #{country1_name},
            country2_name = #{country2_name},
            tournament = #{tournament},
            country = #{country},
            country1_flag = #{country1_flag},
            country2_flag = #{country2_flag},
            stadium_name = #{stadium_name},
            paris_time = #{paris_time},
            paris_date = #{paris_date},
            korea_time = #{korea_time},
            korea_date = #{korea_date},
            sport_code = #{sport_code},
            stadium_no = #{stadium_no}
        WHERE game_id = #{game_id}
    </update>
	<!-- 경기 삭제 -->
	<delete id="deleteGame" parameterType="kr.co.olympic.game.GameVO">
        DELETE FROM game WHERE game_id = #{game_id}
    </delete>
	
    
    <sql id="searchSql">
		<where>
			<if test="searchWord != null and searchWord != ''">
				<if test="searchType == 'all'">
					title LIKE '%${searchWord}%' OR content LIKE '%${searchWord}%'
				</if>
				<if test="searchType != 'all'">
					${searchType} LIKE '%${searchWord}%'
				</if>
			</if>
		</where>
	</sql>
	<!-- 종목 수 -->
	<select id="count" parameterType="kr.co.olympic.game.GameVO" resultType="int">
		SELECT COUNT(*) FROM game
		<include refid="searchSql"/>
	</select>
    
	<!-- #경기부가기능 -->
	<!-- 경기 댓글 생성 -->
	<insert id="createComment" parameterType="map">
        INSERT INTO comment (regdate, content, game_id, member_no) 
        VALUES (#{regdate}, #{content}, #{game_id}, #{member_no})
        <selectKey keyProperty="comment_no" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
	<!-- 경기 댓글 리스트 -->
	<select id="listComment" parameterType="kr.co.olympic.game.GameVO" 
		resultType="kr.co.olympic.game.CommentVO">
        SELECT * FROM comment c
        LEFT JOIN (SELECT member_no, name FROM member) m
        ON m.member_no = c.member_no
        WHERE game_id = #{game_id}
    </select>
	<!-- 관심 경기 등록 -->
	<insert id="createFavorite" parameterType="map">
        INSERT INTO favorite_game (
        	member_no, game_id
        ) VALUES (
        	#{member_no}, #{game_id}
        )
    </insert>
	
	<!-- 관심 경기 조회 -->
	<select id="listFavorite" parameterType="kr.co.olympic.member.MemberVO" 
			resultType="map">
		SELECT * 
		FROM olympic.favorite_game as f
		LEFT JOIN olympic.game as g
		ON f.game_id = g.game_id
		WHERE member_no = #{member_no};
    </select>
	
	<!-- 경기 관심 삭제 -->
	<delete id="deleteFavorite" parameterType="map">
        DELETE FROM favorite_game
        WHERE member_no = #{member_no} AND game_id = #{game_id}
    </delete>
</mapper>