<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.olympic.game.SportMapper">
	
	<!-- #종목관련 -->
	<!-- 종목 생성 -->
	<insert id="createSport" parameterType="kr.co.olympic.game.SportVO">
		INSERT INTO sport (
			sport_code, sport_name, title_image
			, link, sport_info, sport_rule
			, sport_history
		) VALUES (
			#{sport_code}, #{sport_name}, #{title_image}
			, #{link}, #{sport_info}, #{sport_rule}
			, #{sport_history}
		)		
	</insert>
	<!-- 종목 리스트-->
	<select id="listSport" parameterType="kr.co.olympic.game.SportVO" 
		resultType="kr.co.olympic.game.SportVO">
        SELECT * FROM sport
    </select>
	<!-- 종목 상세조회 -->
	<select id="detailSport" parameterType="kr.co.olympic.game.GameVO" resultType="kr.co.olympic.game.SportVO">
        SELECT * FROM sport WHERE sport_code = #{sport_code}
    </select>
	<!-- 종목 수정 -->
	<update id="updateSport" parameterType="kr.co.olympic.game.SportVO">
        UPDATE sport SET
            sport_name = #{sport_name},
            title_image = #{title_image},
            link = #{link},
            sport_info = #{sport_info},
            sport_rule = #{sport_rule},
            sport_history = #{sport_history}
        WHERE sport_code = #{sport_code}
    </update>
	<!-- 종목 삭제 -->
	<delete id="deleteSport" parameterType="kr.co.olympic.game.SportVO">
        DELETE FROM sport WHERE sport_code = #{sport_code}
    </delete>
    <sql id="searchSql">
		<where>
			<if test="searchWord != null and searchWord != ''">
				<if test="searchType == 'all'">
					title LIKE '%${searchWord}%' OR content LIKE '%${searchWord}%'
				</if>
				<if test="searchType != 'all'">
					${searchType} LIKE '%${searchWord}%'
				</if>
			</if>
		</where>
	</sql>
	<!-- 종목 수 -->
	<select id="count" parameterType="kr.co.olympic.game.SportVO" resultType="int">
		SELECT COUNT(*) FROM sport
		<include refid="searchSql"/>
	</select>
</mapper>