<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.olympic.game.StadiumMapper">
		
	<!-- #경기장관련 -->
	<!-- 경기장 생성 -->
	<insert id="createStadium" parameterType="kr.co.olympic.game.StadiumVO">
		INSERT INTO stadium (
			stadium_name, stadium_img_url
			, stadium_url, stadium_en_name
			, stadium_position, a_seat_quantity
			, b_seat_quantity, c_seat_quantity
			, d_seat_quantity, vip_seat_quantity
		) VALUES (
			#{stadium_name}, #{stadium_img_url}
			, #{stadium_url}, #{stadium_en_name}
			, #{stadium_position}, #{a_seat_quantity}
			, #{b_seat_quantity}, #{c_seat_quantity}
			, #{d_seat_quantity}, #{vip_seat_quantity}
		)
		<selectKey keyProperty="stadium_no" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<!-- 경기장 리스트-->
	<select id="listStadium" parameterType="kr.co.olympic.game.StadiumVO" 
		resultType="kr.co.olympic.game.StadiumVO">
		SELECT * FROM stadium
	</select>
	<!-- 경기장 상세조회 -->
	<select id="detailStadium" parameterType="kr.co.olympic.game.GameVO" resultType="kr.co.olympic.game.StadiumVO">
		SELECT * FROM stadium WHERE stadium_no = #{stadium_no}
	</select>
	<!-- 경기장 수정 -->
	<update id="updateStadium" parameterType="kr.co.olympic.game.StadiumVO">
		UPDATE stadium SET
			stadium_name = #{stadium_name},
			stadium_img_url = #{stadium_img_url},
			stadium_url = #{stadium_url},
			stadium_en_name = #{stadium_en_name},
			stadium_position = #{stadium_position},
			a_seat_quantity = #{a_seat_quantity},
			b_seat_quantity = #{b_seat_quantity},
			c_seat_quantity = #{c_seat_quantity},
			d_seat_quantity = #{d_seat_quantity},
			vip_seat_quantity = #{vip_seat_quantity}
		WHERE stadium_no = #{stadium_no}
	</update>
	<!-- 경기장 삭제 -->
	<delete id="deleteStadium" parameterType="kr.co.olympic.game.StadiumVO">
		DELETE FROM stadium WHERE stadium_no = #{stadium_no}
	</delete>
	
	<sql id="searchSql">
		<where>
			<if test="searchWord != null and searchWord != ''">
				<if test="searchType == 'all'">
					title LIKE '%${searchWord}%' OR content LIKE '%${searchWord}%'
				</if>
				<if test="searchType != 'all'">
					${searchType} LIKE '%${searchWord}%'
				</if>
			</if>
		</where>
	</sql>
	<!-- 경기장 수 -->
	<select id="count" parameterType="kr.co.olympic.game.StadiumVO" resultType="int">
		SELECT COUNT(*) FROM stadium
		<include refid="searchSql"/>
	</select>
</mapper>