<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.olympic.qna.QnaMapper">

	<!-- 문의글 작성 -->
	<insert id="write" parameterType="kr.co.olympic.qna.QnaVO">
		INSERT INTO qna (
		regdate, type, content, title, game_id, readcnt,
		member_no, state
		)
		VALUES (
		NOW(), #{type}, #{content}, #{title}, #{game_id}, 0,
		#{member_no}, ${state}
		)
		<selectKey order="AFTER" keyProperty="qna_no"
			resultType="int">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
	</insert>
	<!-- 공통 조건을 위한 SQL 정의 -->
	<sql id="commonConditions">
		<if test="search_words != null and search_words != ''">
			AND (
			<if test="search_type == 'all'">
				q.title LIKE CONCAT('%', #{search_words}, '%')
				OR
				q.content LIKE CONCAT('%', #{search_words}, '%')
			</if>
			<if test="search_type == 'title'">
				q.title LIKE CONCAT('%', #{search_words}, '%')
			</if>
			<if test="search_type == 'content'">
				q.content LIKE CONCAT('%', #{search_words}, '%')
			</if>
			)
		</if>
		<if test="type != null">
			<if test="type == 'all'">
				AND q.type IN (1, 2, 3)
			</if>
			<if test="type != 'all'">
				AND q.type = #{type}
			</if>
		</if>
		<if test="game_id != null and game_id != ''">
			AND q.game_id = #{game_id}
		</if>
		<if test="member_no != null and member_no != ''">
			AND q.member_no = #{member_no}
		</if>
	</sql>
	<!-- 고정된 공지사항 조회 -->
	<select id="notice" resultType="kr.co.olympic.qna.QnaVO">
		SELECT * FROM qna
		where state = 1
		ORDER BY qna_no DESC
		LIMIT
		0, 3
	</select>
	<!-- qna 전체 리스트 조회 -->
	<select id="list" parameterType="kr.co.olympic.qna.QnaSearchDTO"
		resultType="kr.co.olympic.qna.QnaVO">
		SELECT * FROM qna q
		LEFT JOIN (SELECT name, member_no FROM member) m ON
		q.member_no =
		m.member_no
		<where>
			state = #{state}
			<include refid="commonConditions" />
		</where>
		ORDER BY ${orderinfo} DESC
		LIMIT #{startIdx}, 10
	</select>
	<!-- 개수 조회 -->
	<select id="count"
		parameterType="kr.co.olympic.qna.QnaSearchDTO" resultType="Integer">
		SELECT COUNT(*) FROM qna q
		<where>
			state = #{state}
			<include refid="commonConditions" />
		</where>
	</select>

	<!-- 상세 페이지 조회 -->
	<select id="detail" parameterType="kr.co.olympic.qna.QnaVO"
		resultType="kr.co.olympic.qna.QnaVO">
		SELECT * FROM qna q
		LEFT JOIN (SELECT member_no, name FROM
		member) m
		ON q.member_no =
		m.member_no
		WHERE qna_no = #{qna_no}
	</select>
	<!-- 조회한 페이지 readcnt 증가 -->
	<update id="updateReadCnt"
		parameterType="kr.co.olympic.qna.QnaVO">
		UPDATE qna SET readcnt
		= readcnt+1 WHERE qna_no =
		#{qna_no}
	</update>
	<!-- 답변 작성 -->
	<update id="reply" parameterType="kr.co.olympic.qna.QnaVO">
		UPDATE qna SET
		reply = #{reply},
		reply_date = NOW()
		WHERE qna_no=#{qna_no}
	</update>
	<!-- 게시글 수정 -->
	<update id="update" parameterType="kr.co.olympic.qna.QnaVO">
		UPDATE qna SET
		update_date=NOW(),
		title=#{title}, content=#{content}
		WHERE
		qna_no=#{qna_no}
	</update>
	<!-- 게시글 삭제 (첨부파일은 별도 mapper) -->
	<update id="delete" parameterType="int">
		UPDATE qna SET state = 2 WHERE
		qna_no = ${qna_no}
	</update>
</mapper>